body {
    width: 100vw;
    height: 95vh;
    margin: 0px;
    background:white;
  }
  footer{
    bottom: 0px;
    position: fixed;
    padding-left: 10px;
  }
  .banner {
    position: absolute;
    margin: 10px;
    top: 20%;
    left:17%;
  }
  h1 {
    margin: 0px;
  }
  /*Navigation*/
  nav {
    position: relative;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    float: right;
    width: 100px;
  }
  ul {
    justify-content: flex-end;
    position: relative;
    display: inline;
    list-style: none;
    align-self: center;
  }
  li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 32px;
  }
  a {
    text-decoration: none;
  }